.search-suggestions {
    overflow: auto;
}
.search-part {
    max-height: 140px;
}
.suggestion {
    cursor: pointer;
    text-decoration: underline;
}
.search-results > .row {
    border-bottom: 1px dashed #ddd;
    padding:10px 0;
 }